<div class="container">
  <table class="table table-bordered table-inverse">
    <tr>
      <th>Group By</th>
      <th>Group Name</th>
      <th>Group Creator</th>
      <th>Group Cards</th>
	  <th>Create Card</th>
    </tr>
    <tr *ngFor="let group of groups">
      <td>
        {{group.groupType}}
      </td>
      <td>
        {{group.groupValue}}
      </td>
      <td>
        {{group.groupAdmins[0].userId}}
      </td>
      <td>
		<a [routerLink] = "['/cards', group.groupId]">{{group.groupValue}}</a>
      </td>
		<td>
		<a [routerLink] = "['/addCard',group.groupId,group.groupValue]">Add a Card</a>
      </td>
    </tr>
  </table>
</div>
