&nbsp;
 <div *ngIf="errorMessage != ''">
      <h3 class="has-info">{{errorMessage}}</h3>
 </div>
<div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
 </div>
<div style="width: 100%" class="container" *ngIf='groups && groups.length'>
  <table class="table table-bordered  table-inverse ">
    <tr>
      <th>Group By</th>
      <th>Group Name</th>
      <th>Group Creator</th>
	  <th>Group Admin(s)</th>
      <th>Group Cards</th>
	  <th colspan="2">Action on Groups</th>
    </tr>
    <tr *ngFor="let group of groups">
      <td>
        {{group.groupType}}
      </td>
      <td>
        {{group.groupValue}}
      </td>
      <td>
        {{group.groupAdmins[0].userId}}<br><br>
		<a class="btn btn-info"  [routerLink] = "['/cards', group.groupId]">Publish Cards</a>
      </td>
	  <td>
		<div style="padding: 5px;" *ngFor="let admin of group.groupAdmins">{{admin.userId}} 
		<button *ngIf='group.groupAdmins.length>1' type="button" class="btn btn-outline-danger btn-sm" (click)='deleteAdmin(admin.groupUserId)'>Del</button> 
		</div>
        
      </td>
      <td>
		<a [routerLink] = "['/cards', group.groupId]">{{group.groupValue}}</a><br>
      </td>
		<td colspan="2">
		<a [routerLink] = "['/addCard',group.groupId,group.groupValue]">Add a Card</a>&nbsp;&nbsp;
		<br><br>
		<form [formGroup]="groupAdmin" (ngSubmit)="addAdminToGroup(group.groupId)" novalidate>
		  <input type="text" class="form-control" formControlName="userId" required placeholder="Assign admin"/><br>
		  <button type="submit" class="btn btn-outline-success btn-sm"> Add admin</button>
		</form>
      </td>
    </tr>
  </table>
</div>
