<div class="container">
  <form [formGroup]="cardForm" (ngSubmit)="createCard()" novalidate>
    <div *ngIf="validMessage != ''">
      <h3 class="has-info">{{validMessage}}</h3>
    </div>
	<div class="form-group">
      <label>Card Title</label>
      <input type="text" class="form-control" formControlName="cardTitle" required autofocus/>
    </div>
	<div class="form-group">
      <label>Card Description</label>
      <input type="text" class="form-control" formControlName="cardDesc" required/>
    </div>
	<div class="form-group">
      <label>Bookmark URL</label>
      <input type="text" class="form-control" formControlName="bookmarkUrl" required/>
    </div>
	<div class="form-group">
      <label>Card Image</label>
      <input type="text" class="form-control" formControlName="imageUrl" required/>
    </div>
	<div class="form-group">
      <label>Publish to Group</label>
      <input type="radio" class="form-control" formControlName="publish" value="Y" />YES
	  <input type="radio" class="form-control" formControlName="publish" value="N"/> NO
    </div>
    <button type="submit" class="btn btn-primary" >Create Card</button>
  </form>
</div>