
<div style="text-align: right">
	<a routerLink="profile" *ngIf="auth.loggedIn">{{currentUser}}</a>&nbsp;
	<button type="button" class="btn btn-primary" (click)="auth.login()" *ngIf="!auth.loggedIn">Log In</button>
	<button type="button" class="btn btn-success" (click)="auth.logout()" *ngIf="auth.loggedIn">Log Out</button>
</div>
<header>
	<div id='cssmenu'>
	<ul>
	   <li class="{{activeMenu==1? 'active' : ''}}" ><a [routerLink] = "['/cards']" (click)='setMenu(2)'>Home (Cards)</a></li>
	   <li class="{{activeMenu==2? 'active' : ''}}" ><a [routerLink] = "['/shortcut']" (click)='setMenu(2)'>Get Shortcut</a></li>
 	   <li class="{{activeMenu==3? 'active' : ''}}" ><a [routerLink] = "['/createGroup']" (click)='setMenu(3)'>Create Group</a></li>
	   <li class="{{activeMenu==4? 'active' : ''}}" ><a [routerLink] = "['/groups']" (click)='setMenu(4)'>Groups</a></li>
	  
	</ul>
	</div>
</header>
